<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TasteMaker.Properties.Settings.TastemakerDMStagingConnectionString"
        connectionString="Data Source=localhost\sql2014;Initial Catalog=TastemakerDMStaging;User ID=svc_dw;Password=refresh2015AllDW"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Client_ID" value="56c66e8cadbf1cbc357fe2c73199919b60af2389c64551716c9b6fd6ec5d7d55"/>
    <add key="Client_Secret" value="3edffcd6b77d2123c531e950a4395e18ab35be232b1b15aa6392d4b0b793021b"/>
    <add key="Token" value="5d8e16ef6a0156f1077a665719ba7b84ed97b9d6a469c0df25bb07d39ee2b223"/>    
  </appSettings>
</configuration>

