<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TasteMaker.Properties.Settings.TastemakerDMStagingConnectionString"
        connectionString="Data Source=localhost\sql2014;Initial Catalog=TastemakerDMStaging;User ID=svc_dw;Password=refresh2015AllDW"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Client_ID" value="4eae99d7317bf63ba9204accbb76635d528b6a12559464ed1789ef3e5e6ca2f2"/>
    <add key="Client_Secret" value="04cecca5a04d31e17cd29979de2da585bfd7ce2e2036c41f276131dfbd2d2ef2"/>
  </appSettings>
</configuration>